.table {
  margin-top: 50px;
  table-layout: auto;

  tr {
    display: flex;
    flex-direction: row;
    max-height: 50px;
  }

  &_item {
    table-layout: auto;
    width: 100%;
    min-width: 150px;
    padding: 20px 25px;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    overflow-x: clip;
    text-overflow: ellipsis;
  }

  &_head {
    background-color: #e8e5e5;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.2;

    td {
      table-layout: auto;
      justify-content: center;
    }
  }

  &_body {
    font-size: 18px;
    line-height: 1.2;

    td {
      justify-content: center;
      border-bottom: 1px solid #e8e5e5;
    }
  }
}
